
:root{
  --main-lightblue: rgb(178,211,232);
  --main-blue: rgb(35,85,135);
  --main-red: rgb(255,59,49);

  --section-title-height: 84px;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('./assets/Fonts/Rubik-Bold.ttf');
}

@font-face {
  font-family: 'Rubik-Light';
  src: url('./assets/Fonts/Rubik-Light.ttf');
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('./assets/Fonts/Rubik-Medium.ttf');
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url('./assets/Fonts/Rubik-Regular.ttf');
}

h1{
  font-family: 'Rubik-Bold';
}

h2{
  font-family: 'Rubik-Regular'
}

h3{
  font-family:'Rubik-Medium'
}

h4{
  font-family:'Rubik-Light';
  color: var(--main-blue)
}

.border{
  background-color:var(--main-blue);
  height:40px;
}

.header{
  display:flex;
  align-items:center;
  background-color: white;
  height: 100px;
  width: 100vw;
}

.header--container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;

  width:100%;
}

.omnium--logo{
  
}

.header--options-container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;

  color: var(--main-blue);
  
  width:50%;

  padding:20px 40px;
}

.header--option{
  font-size:14px;
}

.banner{
  display:flex;
  flex-direction:column;
  text-align:center;
  height:900px;
  background-size:cover;
  background-position:center;
  align-items:center;
}

.banner--quote{
  position:absolute;
  bottom:30px;
  right:40px;
  color:white;
  width:400px;
}

.banner--photo{
  width:100vw;
}

.banner--photo-test{
  width:100vw;
}

.section--info{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  padding:40px;
}

.section--title{
  display:flex;
  align-items:center;
  justify-content:center;

  height:var(--section-title-height);
  width:100vw;

  color:white;

  text-transform: uppercase;
}

.blue-title{
  background-color: var(--main-blue);
}

.red-title{
  background-color: var(--main-red);
}

.description{
  padding:10px 40px;
  text-align:center;
}

/* People */

.people--container{
  display:flex;
  align-items:center;
  max-width: 1200px;
  flex-wrap: wrap;
}
.people{
  height:300px;

  padding: 20px;
}

.people--img {
  width:200px;
  height:200px;

  background-color:grey;
}

.people--name {
  margin:2px;
  font-size:12px;

  color:var(--main-blue);
}

.people--title {
  margin:2px;
  font-size:12px;

  color:var(--main-red);
}

.people--role {
  margin: 7px 2px;
  font-size: 12px;
}

/* Skills */

.skill{
  display:flex;
  flex-direction:column;
  align-items:center;

  padding: 20px;
}

.skill--name{
  color: var(--main-blue);
  text-transform:uppercase;

  margin:2px;
  font-size:24px;
}

.skill--desc{
  margin: 2px;
  font-size: 20px;
}

/* Tools */

.help--tools-container{
  display:flex;
  flex-direction:row;
  justify-content:space-around;

  width:100%;
}

.help--border{
  height:170px;
  width:220px;
  padding:10px;
  border: 3px solid var(--main-blue);
}

.help--container{
  position:relative;
  top:0px;
  left:0px;
  height:150px;
  width:200px;
  padding:20px;
  background-color:rgb(218,223,233);
}

.tool--name{
  text-transform:uppercase;
  
  font-size:15px;
  margin:10px 0;

  color:var(--main-blue);
}

.tool--desc{
  margin:2px;
  font-size: 12px;
}

.client-logos {
  display: flex;
  align-items:center;
  justify-content:center;
  width: 100%;
}

.clients-logos__container {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  max-width:900px;
}

.partner-logo{
  display:flex;
  justify-content:center;
  align-items:center;
  width:300px;
  height:200px;
}

.client-logo__clif {
  width:240px;
  margin: 0 15px;
}

.partner-logo__ll {
  width:140px;
}

.partner-logo__musco {
  width:140px;
}

.partner-logo__kitehill {
  width:140px;
}

.partner-logo__angelos {
  width:140px;
}

.partner-logo__sovos {
  width:190px;
}

.partner-logo__raos {
  width:140px;
}

.partner-logo__cacique {
  width:140px;
}

.partner-logo__wildplanet{
  width:140px;
}

.partner-logo__guayaki{
  width:120px;
}

.partner-logo__wed{
  width:200px;
}

.partner-logo__giansante{
  width:160px;
}

.partner-logo__koury{
  width:160px;
}

.contact--info-section{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  width:100%;
}

.contact--info-container{
  display:flex;
  flex-direction:column;
  width:300px;
}


.map{
  width:500px;
}